// import mixins and variables
@use './partials/mixins.scss' as *;
@use './partials/variables.scss' as *;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #e50913;
$secondary: #000000;
$info: #f7f3f3;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";

// RESET AND GENERAL RULES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fjalla One", sans-serif;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    margin: 0 0 0 $base-space;
    border: 1px solid $info;
    padding: 3px 6px;
    font-family: inherit;
}

button {
    background-color: $primary;
    color: $secondary;
}

// DEBUG
.debug {
    border: 1px solid blueviolet;
}

// utility
.container {
    margin: 0 auto;
    width: 90%;
}